*{ margin: 0;
padding: 0;
box-sizing: border-box;}
ol,ul{ list-style-type: none;}
*::before, *::after{ box-sizing: border-box;}
a{ text-decoration: none;
outline: none;
color: inherit;}

body{ font-family: "黑体";
	}
 .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
    
.siteNav{ height: 23vh;
background: #1c1b20;}
.siteNav > ol{ width: 10rem;
line-height: 1.2rem;
align-items:center;
display: flex;
background: #1c1b20;

z-index: 1;
}
.siteNav > ol > li{ flex: 1;
font-size: 0.4rem;
color: #FFFFFF;
text-align: center;
}
.siteNav > ol > li.active>span{ position: relative;
font-weight: 600;}
.siteNav > ol > li.active>span:after{
content: '';
position: absolute;
bottom: -0.8vh;
left: 0.4rem;
width: 0.8rem;
border: 0.04rem solid  #FFFFFF ;
border-radius:1rem ;
}

.art-banner{ height: 27vh;
width: 9.4rem;
margin: 0 auto;
background-size:cover;
margin-top: -15.5vh;
position: relative;
border-radius:.2rem ;
overflow: hidden;
 }
.swiper-wrapper {
	height: 22vh;
	width: 9.6rem;
	border-radius:.2rem ;
}
.swiper-slide img{ width: 100%;
border-radius: 8px;}
.navBar>ul{ display: flex;
flex-direction: row;
justify-content:space-around;
padding-bottom: .5rem;
border-bottom: 1px solid #DEDEDE;
}
.navBar > ul > a > li{ 
font-size: 0.35rem;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.navBar > ul > a > li> span>svg{font-size: 0.65rem;
fill: #ED584B;}
.navBar > ul > a > li> span{ margin: 0 auto;
}
.navBar > ul > a > li> span:nth-child(1){width: 1.35rem;
height: 1.35rem;
border: 1px solid #ED584B;
border-radius:1rem ;
padding-top: 0.3rem;
margin-top: .5rem
 }
 .navBar > ul > a > li> span:nth-child(2){
 	margin-top: 0.1rem;
 }
.recomsong span{display: flex;
flex-direction: row;
justify-content: flex-start; 
padding: 2.2vh 0 2.2vh 2.2vh;}
.recomsong > span > svg{ font-size: .5rem;
fill: #666;
} 
.recomsong h3:nth-child(1){ font-size: 0.5rem;
font-weight: normal;
display: flex;
line-height: 1;
}
.tabContent>li{display: none;}
.tabContent>li.active{display: block;}

.recomsong > ul{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
font-size: 0.36rem;
width: 9.7rem;
margin: 0 auto;
}
.recomsong > ul > a{ width: calc(33.333333% - 0.05rem);
} 
.recomsong > ul > a > li > img{width: 100%;
border-radius:4px ;}
.recomsong  > ul > a > li > p{ padding-left: 6px;
margin-bottom: 0.34rem;
color: #202020;} 

/*video*/
.redio-banner{
	height: 27vh;
width: 9.6rem;
margin: 0 auto;
background:url(http://paabzcrgt.bkt.clouddn.com/banner3.jpg);
background-size:cover;
border-radius:.2rem ;
margin-top: -15.5vh;
position: relative;
overflow: hidden;
}

.redio-navBar>ul{ display: flex;
flex-direction: row;
justify-content:space-around;
padding-bottom: .5rem;
border-bottom: 1px solid #DEDEDE;
}
.redio-navBar > ul > a > li{ 
font-size: 0.35rem;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.redio-navBar > ul > a > li> span>svg{font-size: 0.8rem;
fill: #fff;}
.redio-navBar > ul > a > li> span{ margin: 0 auto;
}
.redio-navBar > ul > a > li> span:nth-child(1){width: 1.4rem;
height: 1.4rem;
border-radius:1rem ;
background: rgba(248,80,50,1);
padding-top: 0.3rem;
margin-top: .3rem
 }
.redio-navBar > ul > a > li> span:nth-child(2){
 	margin-top: 0.1rem;
 }
.redio-recomsong>span{display: flex;
flex-direction: row;
justify-content: flex-start; 
padding: 2.2vh 0 2.2vh 2.2vh;}
.redio-recomsong > span > svg{ font-size: .5rem;
fill: #666;
} 
.redio-recomsong h3:nth-child(1){ font-size: 0.5rem;
font-weight: normal;
display: flex;
line-height: 1;
}
.redio-recomsong>span>span{ flex: 1;
text-align: right;
font-size: 12px;
margin-right: 10px;
color: #999999;
}

.redio-yx-wrap> a{display: flex;
flex-direction: row; 
align-content: flex-start;

}
.redio-cover img{
	width: 3rem;
	height: 3rem;
	background: #000000;
}
.redio-yxcontent{
	width: 7rem;
	height: 17vh;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	margin-left: 0.2rem;
	justify-content: center;
}
.redio-yxcontent span:nth-child(1){
	font-size: 18px;
	line-height: 24px;
}
.redio-yxcontent span:nth-child(2){
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}
.redio-yxcontent span:nth-child(3){
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

